:root{
    --main:orange;
    --bg: #0B1218;
    --bg-body: #131D28;
}

*{
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
input,button{
    outline: none;
}
#menu-toggle{
    display: none;
}
#menu-toggle:checked ~ .sideber .brand h3{
    display: none;
}
#menu-toggle:checked ~ .sideber .sudemenu .side-img{
    height: 50px;
    width: 50px;
}

#menu-toggle:checked ~ .sideber .sudemenu .user{
    display: none;
}
#menu-toggle:checked ~ .sideber li a span:last-child{
    display: none;
}
#menu-toggle:checked ~ .sideber {
    width: 65px;
}
#menu-toggle:checked ~ .main-content header{
    left:calc(65px + 1rem);
}
#menu-toggle:checked ~ .main-content{
    margin-left: 65px;
}
.sideber{
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background: #0B1218;
    width: 280px;
    overflow-y: auto;
    transition: width 300ms;
}
.brand{
    padding: .5rem 1rem ;
    display: flex;
    color: orange;
    align-items: center;
    height: 70px;
}
.brand span{
    font-size: 1.8rem;
    margin-right: .5rem;
}
.sideber-user{
    margin: 1.8rem 0;

}
.side-img{
    height: 120px;
    width: 120px;
   

    margin: auto;
    border: 4px solid #3e454d;
    border-radius: 50%;
}
.side-img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}
.user{
    text-align: center;
    color: #fff;
    margin-top: .5rem;
}
.user small{
    display: inline-block;
    color: orange;
}
.sudemenu{
    padding: .5rem;
    

}
.sudemenu ul{
    padding: 0;
}
.sudemenu li{
    margin-bottom: .8rem;
}
.sudemenu a{
    color: #fff;
    font-size: .85rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sudemenu a span:first-child{
    font-size: 1.3rem;
    padding: 0rem .6rem;
}
.sudemenu a.active{
    background: orange;
    color: #fff;
    border-radius: 4px;
    height: 50px;
}
.main-content{
    margin-left: 280px;
    min-height: 100vh;
    background: var(--bg-body);
    padding: .5rem 1rem;
}
header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg);
    padding: 1rem;
    position: fixed;
    left: calc(280px + 1rem);
    right: .5rem;
    top: .5rem;
    border-radius: 3px;
    z-index: 1000;
}
.menu-toggler{
    height: 45px;
    width: 45px;
    background: var(--main);
    color: #fff;
    display: grid;
    place-items: center;
    border-radius: 5px;
}

.search{
    display: flex;
    width: 300px;
    border-radius: 30px;
    overflow-x: hidden;
    border: 3px solid #3e454d;
    align-items: center;
    
}
.search span{
    font-size: 1.3rem;
    color: #fff;
    padding-left: 1rem;
}
.search input{
    flex: 1;
    height: 45px;
    border: none;
    background: transparent;
    padding: 1rem;
    color: #fff;
}
.head-icon span{
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #fff;
    padding: 0 1rem;
}
main{
   margin-top: calc(70px + .5rem); 
   padding: 1rem 0;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}
.card-ad{
    background: var(--bg);
    padding: 2rem 1rem;
}
.card-icon{
    text-align: center;
    display: grid;
    place-items: center;
}
.card-icon span{
    height: 55px;
    width: 55px;
    color: #fff;
    font-size: 2.5rem;
    border-radius: 6px;
    display: grid;
    place-items: center;
}
.follow span{
    color: #0072f2;
    background: #e5f3f3;
}
.likes span{
    color: #f42a26;
    background: #fde9ea;
}
.comment span{
    color: #ffbc01;
    background: #fff8e5;
}
.card-info{
    text-align: center;
    margin-top: .6rem;
}
.card-info h2{
    font-size: 3rem;
    color: #efefef;
}
.card-info small{
    display: inline-block;
    color: var(--main);
    font-weight: 500;
}
.card-images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.3rem;
}
.card-images div img{
    height: 45px;
    width: 45px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 4px solid #efefef;
    position: relative;
    margin-left: -10px;
}
.card-images div img:first-child{
    margin-left: 0;
}
.chart-grid{
    display: grid;
    grid-template-columns: 64% auto;
    margin-top: 3rem;
    grid-gap: 2rem;
}
.chart-follow,.chart-sales{
    background: var(--bg);
    padding: 1rem;
    border-radius: 3px;
}
.chart-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: efefef;
    padding-bottom: 1rem;
    border-bottom: 1px solid #222;
    margin-bottom: 1rem;
}

/* table  */
.table-content{
    min-height: 100vh;
    background: var(--bg-body);
}
.table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: var(--bg);
    border-radius: 3px;
    margin-bottom: 1rem;
}
.table-btn{
    display: flex;
    align-items: center;
}
.table-btn a{
    background: var(--main);
    color: #000000;
    padding: .5rem 1rem;
    border-radius: 3px;
    margin-right: 1rem;
    font-size: .9rem;
    text-decoration: none;
    
}
.table-content table{
    width: 100%;
    border-collapse: collapse;
}
.table-content table thead{
    background: var(--bg);
    color: #fff;
}
.table-content table thead th{
    padding: 1rem;
    text-align: left;
    border: 2px solid #222;

}
.table-content table tbody tr{
    border-bottom: 1px solid #222;
    padding: 1rem;
    color: #fff;
    text-align: left;
}
.table-content table tbody tr td{
    padding: 1rem;
    border: 2px solid #222;
}
.table-content table tbody tr td img{
    height: 70px;
    width: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    position: relative;
    margin-left: -10px;
    text-align: center;
}
.table-content table tbody tr td a{
    color: #000000;
    padding: .5rem 1rem;
    border-radius: 3px;
    font-size: .9rem;
    text-decoration: none;
}
/* form */
.form-content{
    min-height: 100vh;
    background: var(--bg-body);
}
.form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: var(--bg);
    border-radius: 3px;
    margin-bottom: 1rem;
}
.form-header h2{
    color: #fff;
}
.form-content form{
    padding: 1rem;
    background: var(--bg);
    border-radius: 3px;
}
.form-content form label{
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
.form-content form input{
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
    border: 2px solid #222;
    border-radius: 3px;
    background: var(--bg-body);
    color: #fff;
}
.form-content form button{
    background: var(--main);
    color: #000000;
    padding: .5rem 1rem;
    border-radius: 3px;
    font-size: 1rem;
    text-decoration: none;
    border: none;
    width: 100%;
}
.form-content form select{
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
    border: 2px solid #222;
    border-radius: 3px;
    background: var(--bg-body);
    color: #fff;
}
.form-content form label{
    display: block;
}

.blink {
    animation: blink-animation 0.5s steps(2, start) 6; /* Adjust 6 for more blinks */
}

@keyframes blink-animation {
    0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}

.notification-badge {
    position: absolute;
    top: 0;
    right: 10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.status {
    font-weight: bold;
    padding: 5px;
}
.status:before {
    content: "Status: ";
    font-weight: normal;
}